	@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto+Slab:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto+Slab:wght@700&family=Source+Sans+Pro&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto+Slab:wght@700&family=Source+Sans+Pro:wght@300&display=swap');

body {
	font-family: 'Noto Sans JP', sans-serif;
	font-family: 'Roboto Slab', serif;
	font-family: 'Source Sans Pro', sans-serif;
	color: #4DEFFA;
	background: #C95Df0;
	font-size: 20px;

}

h1 { 
	font-family: 'Noto Sans JP', sans-serif;
	font-family: 'Roboto Slab', serif;
	color: #000000;
	font-size: 60px;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;

}

#slogan {
	font-family: 'Noto Sans JP', sans-serif;
	font-family: 'Roboto Slab', serif;
	font-family: 'Source Sans Pro', sans-serif;
	color: #4DEFFA;
	font-size: 30px;
	text-align: center;
}