body {
	color: #4DEFFA;
	background: #C95Df0;
	font-size: 20px;

}

h1 { 
	color: #000000;
	font-size: 60px;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;

}

#slogan {
	color: #4DEFFA;
	font-style: italic;
	font-size: 30px;
	text-align: center;
}